<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <base href="/">
</head>
<body>
  <h1>Base Path: {{ basePath }}</h1>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/test-route">testRoute</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</body>
</html>